.DS_Store
.ipynb_checkpoints
cache
*.log
cached*
build
docs/notebooks/*/*.html
__pycache__
output
*test_outdir/
*idea
venv
notebooks
notebooks/TEST
.mypy_cache
*_version.py
*.egg-info
src/tess_atlas/template.ipynb


test_notebooks/
**/test_notebooks
tests/test_notebooks/
/src/tess_atlas/notebook_templates/toi_template.ipynb

/tests/test_jobgen/




## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.pdf
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
/tests/test_plotout/
