repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: debug-statements

- repo: https://github.com/psf/black
  rev: 19.3b0
  hooks:
  - id: black

- repo: https://github.com/timothycrosley/isort
  rev: master
  hooks:
  - id: isort

- repo: https://github.com/dfm/black_nbconvert
  rev: stable
  hooks:
  - id: black_nbconvert
