name: Test `template.ipynb`
on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Unit Tests with pytest
        run: pytest -vv tests/unittest_template_notebook.py 
      - name: End-to-end test 
        run: pytest -vv tests/test_template_notebook.py 